{% extends "layout.twig" %}
{% block content %}
    <h2>Добавление новой статьи</h2>
    <form action="" method="post" class="row g-3">
        <div class="form-floating mb-3">
            <input class="form-control" id="floatingInput" name="title" type="text" placeholder="Введите название статьи" value="{{ article.title }}">
            <label for="floatingInput">Введите заголовок статьи</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="floatingInput" name="intro_text" type="text" placeholder="Введите вступительный текст" value="{{ article.title }}">
            <label for="floatingInput">Введите вступительный текст</label>
        </div>
        <div class="form-floating mb-3 col-6">
            <select class="form-select" id="floatingSelect1" name="category_id" >
                {% for category in categories %}
                    <option value="{{  category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label for="floatingSelect1">Выберите категорию</label>
        </div>
        <div class="card col-6 mb-3" >

            <div class="card-body">
                <h5 class="card-title">Изображение для статьи</h5>

                <div class="row">
                    <div class="col">
                        <img  class="image-preview docs-placeholder-img img-thumbnail" width="200" height="200" src="
                        {% if article.intro_img is empty %}
                            /uploads/source/Dummy.jpg
                        {% else %}
                            {{ article.intro_img }}
                        {% endif %}
                        ">
                    </div>
                    <div class="col">
                        <input id="fieldID" type="text" value="">

                        <a href="{{ path }}/vendors/filemanager/dialog.php?type=1&amp;field_id=fieldID&amp;relative_url=1&amp;multiple=1" class="btn iframe-btn btn-primary" type="button">Select</a></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-floating mb-3">
            <h4>Введите основной текст статьи</h4>
            <textarea class="form-control editor-ckeditor" id="editor-ckeditor" placeholder="Введите основной текст статьи" id="floatingTextarea2" "></textarea>

        </div>
        <input type="hidden" name="id" value="{{ article.id }}">
        <input class="btn btn-primary mb-3" type="submit" name="btn-article-add" value="Сохранить">
    </form>
{% endblock %}
{% block script %}
    CKEDITOR.replace( 'editor-ckeditor' ,{
    filebrowserBrowseUrl : '{{ path }}/vendors/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
    filebrowserUploadUrl : '{{ path }}/vendors/filemanager/dialog.php?type=2&editor=ckeditor&fldr=',
    filebrowserImageBrowseUrl : '{{ path }}/vendors/filemanager/dialog.php?type=1&editor=ckeditor&fldr='
    });


    $('.iframe-btn').fancybox({
    'width'		: 900,
    'height'	: 600,
    'type'		: 'iframe',
    'autoScale'    	: false
    });

    function responsive_filemanager_callback(field_id){
    var url=jQuery('#'+field_id).val();
    $(".image-preview").attr('src','/uploads/source/'+url);
    $("#fieldID").attr('value','/uploads/source/'+url);
    }
{% endblock %}
