{% extends "layout.twig" %}
{% block content %}
    <a class="btn btn-primary " href="/admin/article/new">Добавить статью</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Название статьи</th>
            <th scope="col">Краткое содержание</th>
            <th scope="col">Изображение</th>
            <th scope="col">Просмотров</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles_list %}
            <tr>

                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.intro_text }}</td>
                <td>
                    <img class="docs-placeholder-img
                     docs-placeholder-img-lg
                     img-fluid"
                         width="100%"
                         height="250"
                         src="{{ article.intro_img }}"
                         alt="{{ article.title }}">
                    </td>
                <td>{{ article.visit }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="">
                        <a href="/admin/article-edit/{{ article.id }}" style="color: black"
                           class="btn btn-outline-success"
                           data-coreui-toggle="tooltip" data-coreui-placement="left"
                           title="Редактировать">
                            <i class="fa-solid fa-pencil"> </i>
                        </a>
                        <a href="/admin/article-delete/{{ article.id }}"
                           style="color: black"
                           class="btn btn-outline-danger"
                           data-coreui-toggle="tooltip" data-coreui-placement="top"
                           title="Удалить">
                            <i class="fa-solid fa-trash-can"> </i>
                        </a>
                        <a href="/admin/article-view/{{ article.id }}"
                           style="color: black"
                           class="btn btn-outline-info"
                           data-coreui-toggle="tooltip" data-coreui-placement="right"
                           title="Просмотреть">
                            <i class="fa-solid fa-eye"> </i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %}
    {{ message|raw }}
{% endblock %}