{% extends "layout.twig" %}
{% block content %}
    <ul >
        {% for item in data %}
            <article class="entry">
                <div class="entry-img">
                    <img src="{{ item.intro_img }}" alt="" class="img-fluid">
                </div>
                <h2 class="entry-title">

                    <a href="view/{{ item.slug }}.html">{{ item.title }}</a>
                </h2>
                <div class="entry-meta">
                    <ul>
{#                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{ data.Autor }}</a></li>#}
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="">{{ item.published_at | date("d/m/Y")}}</time></a></li>
                    </ul>
                </div>

                <div class="entry-content">
                    {{ item.intro_text }}
                    <div class="read-more">
                        <a href="view/{{ item.slug }}.html">Read More</a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </ul>
{% endblock %}